.blueUnit, .blue, .playerTwo {
  background-color: rgb(132, 181, 255);
  border-color: rgb(132, 181, 255);
}

.blueVP {
  color: rgb(132, 181, 255);
  background: transparent;
  opacity: 1.0;
}

.redlVP {
  color: rgb(239, 115, 74);
  background: transparent;
}

.russian {
  background-color: gold;
}

.armyGreen, .russian {
  background-color: rgb(148, 189, 74);
}

.red {
  background-color: rgb(239, 115, 74);
}

.lightYellow {
  background-color: rgb(255, 239, 156);
  border-color: rgb(255, 239, 156);
}

.flesh {
  background-color: rgb(239, 198, 156);
}

.brightRed, .british, .playerOne {
  background-color: rgb(223, 88, 66);
  border-color: rgb(223, 88, 66);
}
.unit .counterWrapper{
  height:16px;
}
.unit .counter{
  width:32px;
  margin-top:0px;
}
.unit .unit-numbers{
  font-size:12px;
  font-weight:bold;

}
#OBC {
}

#OBC {
  background: white;
  width: 514px;
}


#crt {
  width: 476px;
}

.tableWrapper.alt {
  display: none;
}

.red div {
  color: black;
}

.russian div {
  color: black;
}

#GR {
  width: 600px;
}
.game-name {
  word-break: break-all;
  font-family: 'Nosifer';
}

#requiredCombats {
  background: white;
  padding: 0 0px;
  font-family: sans-serif;
}

#altTable, #mainTable {
  position: absolute;
  right: 18px;
  text-decoration: underline;
}
#clock{
  margin-left:6em;
}