#map{
  width:1200px !important;
}
@include player(AngloAllied, One, $angloAlliedColor, $angloAlliedWrapperColor);
@include player(French, Two, $frenchColor, $frenchSaxonWrapperColor);

.french.specialHexes{
  background-color: $frenchColor;
}

.anglo {
  background-color: $angloAlliedColor;
}
.french.specialHexes, .anglo.specialHexes{
  color:white;
}
.French, .AngloAllied {
  p.forceMarch, p.range{
    color:white;
  }
}