$austrian: rgb(223, 88, 66);
$prussian: rgb(255, 253, 127);

@include player(Austrian, One, $austrianColor,  $austrianWrapperColor);
@include player(Prussian, Two, $prussianColor,  $prussianWrapperColor, $prussianWrapperColor);

#map{
  width:1800px !important;
}

.austrian.specialHexes{
  color:white;
}

.austrian.specialHexes{
  background-color: $austrianColor;
  color:white;
}


