/* Unit Styles */
@include player(soviet, One, rgb(223, 88, 66));
@include player(prc, Two, rgb(247, 206, 0));

.prcVictoryPoints{
  color:black;
}


.unit .counter{
  width:32px;
  margin-top:-2px;
}
.unit .unit-numbers{
  margin-top:-21px;
  font-size:12px;
  font-weight:bold;

}

.reduced {
  color: white;
}

.game-name {
  word-break: break-all;
  font-family: 'Nosifer';
}
