/* Unit Styles */
@include player(soviet, One, rgb(223, 88, 66));
@include player(prc, Two, rgb(247, 206, 0));

.prcVictoryPoints{
  color:black;
}

.unit .counter{
  margin-top:-5px;
}

.reduced {
  color: white;
}

.game-name {
  word-break: break-all;
  font-family: 'Nosifer';
}
@import "../commonPlay";

