/**
 *
 * Copyright 2012-2015 David Rodal
 * User: David Markarian Rodal
 * Date: 3/8/15
 * Time: 5:48 PM
 *
 *  This program is free software; you can redistribute it
 *  and/or modify it under the terms of the GNU General Public License
 *  as published by the Free Software Foundation;
 *  either version 2 of the License, or (at your option) any later version
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
@import "kievColors";

@include player(german, One, $germanColor);
@include player(secondArmy, Four, $secondArmyColor);
@include player(firstPanzerArmy, Five, $firstPanzerArmyColor);
@include player(sixthArmy, Five, $sixthArmyColor);
@include player(seventeenthArmy, Five, $seventeenthArmyColor, $germanColor, black);

@include player(soviet,Two,$sovietColor);

#map {
  width:auto;
}

#crt {
  width: 520px;
}

.reduced {
  color: white;
}

#infoWrapper .WrapperLabel {
  width: auto;
}

.game-name {
  word-break: break-all;
  font-family: 'Nosifer';
}

#gameTurn6 {
}

#gameTurn6 .unit {
  float: left;
}

.specialHexesVP .rebelVictoryPoints {
  @include victoryPoints(orange)
}

.specialHexesVP .loyalistVictoryPoints {
 @include victoryPoints(#666);
}

/* RULES OVERRIDES */

.gameLength{
  color:transparent;
  font-size:0px;
  &::before{
    content:"11";
    color:rgb(51,51,51);
    color:$darkBlack;
    font-size:$stdFont;
  }
}

.player-one-replacements{
  color:transparent;
  font-size:0px;
  &::before{
    content:"1";
    color:rgb(51,51,51);
    color:$darkBlack;
    font-size:$stdFont;
  }
}

.player-two-replacements{
  color:transparent;
  font-size:0px;
  &::before{
    content:"6";
    color:rgb(51,51,51);
    color:$darkBlack;
    font-size:$stdFont;
  }
}