@import "kievColors";

@include player(german, One, $germanColor);
@include player(secondArmy, Four, $secondArmyColor);
@include player(firstPanzerArmy, Five, $firstPanzerArmyColor);
@include player(sixthArmy, Five, $sixthArmyColor);
@include player(seventeenthArmy, Five, $seventeenthArmyColor, $germanColor, black);

@include player(soviet,Two,$sovietColor);

#map {
  width:auto;
}

#crt {
  width: 520px;
}

.reduced {
  color: white;
}

#infoWrapper .WrapperLabel {
  width: auto;
}

.game-name {
  word-break: break-all;
  font-family: 'Nosifer';
}

#gameTurn6 {
}

#gameTurn6 .unit {
  float: left;
}

.specialHexesVP .rebelVictoryPoints {
  @include victoryPoints(orange)
}

.specialHexesVP .loyalistVictoryPoints {
 @include victoryPoints(#666);
}

/* RULES OVERRIDES */

.gameLength{
  color:transparent;
  font-size:0px;
  &::before{
    content:"11";
    color:rgb(51,51,51);
    color:$darkBlack;
    font-size:$stdFont;
  }
}