
$sovietColor: #ba9f34;
$loyalistGuardColor:#aaa;
$germanColor: #58c3ff;
$secondArmyColor: #5d6cff;
$firstPanzerArmyColor: #ff3f3c;
$sixthArmyColor: #ff8f47;
$seventeenthArmyColor: #ffe54b;

$sixthAremyColor: #ffcd89;
