//$loyalistColor: #ffd2ff;
//$loyalistColor: #ff9bf0;
$sovietColor: #ba9f34;
$loyalistGuardColor:#aaa;
$germanColor: #9ee0ff;
$secondArmyColor: #fcbaff;
$armyGroupSouthColor: #97ff9b;
//$loyalistColor: #fff858;
//$loyalistColor: #25a3ff;
//$loyalistColor: #c393ff;
//$loyalistColor: #d54e53;
//$loyalistColor: #aa8f6e;
$rebelColor: #5c5;