body {
}

@mixin player($nationality, $player, $color,$counterColor: $color ,$faceColor: $color ){
  .player#{$player}{
    background:$color;
    border-color:$color !important;
  }
  .#{$nationality}Face, .player#{$player}Face{
    color:$faceColor;
  }
  .#{$nationality} .counterWrapper{
    background-color: $counterColor;
  }
  }

@mixin badge($nationality, $shortName){
  .#{$nationality}.infantry .counterWrapper .counter{
    background-image:url('../../js/#{$shortName}InfBadge.png');
    background-size:14px;
  }
  .#{$nationality}.cavalry .counterWrapper .counter{
    background-image:url('../../js/#{$shortName}CavBadge.png');
    background-size:14px;
  }

  .#{$nationality}.artillery .counterWrapper .counter{
    background-image:url('../../js/#{$shortName}ArtBadge.png');
    background-size:14px;
  }
}
$austrianColor: #df5842;
$austrianWrapperColor: white;

$prussianColor: #fffd7f;
$prussianWrapperColor: #0117de;

$angloAlliedColor: #df5842;
$angloAlliedWrapperColor: #f00;

$britishColor: $angloAlliedColor;
$britishWrapperColor: $angloAlliedWrapperColor;

$frenchColor: #84b5ff;
$frenchWrapperColor: white;
$frenchSaxonWrapperColor: #9f9f9f;

$russianColor: #4cb800;
$russianWrapperColor: #009c1d;

$beluchiColor: #c6c102;
$beluchiWrapperColor: #865900;

#map{
  width:1000px !important;
}

.unit{
  border:solid black;
  border-width: 3px;
}

.unit .counterWrapper div.counter {
  width: 14px;
  height:14px;
  display:block;
  border-right:1px solid black;

}
@include badge(Sikh, Sikh);
@include badge(Beluchi, Sikh);
@include badge(British, Brit);

.British.horseartillery .counterWrapper .counter{
  background-image:url('../../js/BritHorArtBadge.png');
  background-size:14px;
}
@include badge(Native, Native);
@include badge(Austrian, Aus);
@include badge(Prussian, Pru);
@include badge(Russian, Rus);
@include badge(French, French);
@include badge(AngloAllied, Ang);
@include badge(Anglo, Ang);
@include badge(Allied, Ang);

#header #GR a{
  color:black;
}
.indent{
  margin-left:20px;
}
.unit .counterWrapper{
  border:solid black 1px;
  height:14px;
}

.unit .unit-numbers .infoLen7{
  font-size:13px;
}

.unit .unit-numbers .infoLen8{
  font-size:12px;
}


.RussianaVP {
  color: rgb(132, 181, 255);
  background: transparent;
  opacity: 1.0;
}

.PrussianlVP {
  color: rgb(239, 115, 74);
  background: transparent;
}

.unit .unit-numbers{
  border: 1px solid black;
  border-top:1px;
  height:15px;
  line-height:16px;
  font-size:16px !important;
  letter-spacing:-1px;
  background: white;
  font-weight: bold;
  font-family: serif;
}
p.forceMarch, p.range {
  position: absolute;
  top: -19px;
  right: 2px;
  display: none;
  color: white;
  text-transform: lowercase;
}
p.range{
  font-size:15px;
  top:-15px;
  right:5px;
  display:block;
  color:black;
}
p.forceMarch{
  color:black;
}

.Russian, .Prussian {
  p.forceMarch, p.range{
    color:white;
  }
}

#OBC {
  background: white;
  width: 514px;
}

#TEC {
  background: white;
  width: 779px;
}

#crt {
  width: 476px;
}

.tableWrapper.alt {
  display: none;
}

.alt {
  display: none;
  width: 476px;
}

.Prussian div {
  color: black;
}

.russian div {
  color: black;
}

#clock {
  margin-left: 0;
}

.dropDownSelected {
  background: white;
  color: black;
}
#tecImage{
  width:500px;
}

#TEC{
  width:520px;
}

#TECWrapper .closer {
  height: 0px;
  padding: 0px;
}

#VCWrapper .closer {
  height: 0px;
  padding: 0px;
}


#GR {
  width: 600px;
}

.game-name {
  font-family: 'Berkshire Swash';
}

#altTable, #mainTable {
  position: absolute;
  right: 18px;
}
#crtDetailsButton{
  font-size:10px;
  cursor: pointer;
}
#crtDetails{
  display:none;
}
.specialHexes.russian{
  color:white;
  background-color:$russianColor;
}
#CombatLog{
  width:300px;
}

@mixin victoryPoints($color){
  text-shadow:
    0px 0px 1px $color,
    0px 0px 1px $color,
    0px 0px 1px $color,
    0px 0px 2px $color,
    0px 0px 2px $color,
    0px 0px 2px $color,
    0px 0px 3px $color,
    0px 0px 3px $color,
    0px 0px 3px $color,
    0px 0px 4px $color,
    0px 0px 4px $color,
    0px 0px 4px $color,
    0px 0px 5px $color,
    0px 0px 5px $color,
    0px 0px 5px $color,
    0px 0px 6px $color,
    0px 0px 6px $color,
    0px 0px 6px $color,
    0px 0px 7px $color,
    0px 0px 7px $color,
    0px 0px 7px $color,
    0px 0px 8px $color,
    0px 0px 8px $color,
    0px 0px 8px $color,
    0px 0px 9px $color,
    0px 0px 9px $color,
    0px 0px 9px $color,
    0px 0px 10px $color,
    0px 0px 10px $color,
    0px 0px 10px $color,

    0px 0px 1px $color,
    0px 0px 1px $color,
    0px 0px 1px $color,
    0px 0px 2px $color,
    0px 0px 2px $color,
    0px 0px 2px $color,
    0px 0px 3px $color,
    0px 0px 3px $color,
    0px 0px 3px $color,
    0px 0px 4px $color,
    0px 0px 4px $color,
    0px 0px 4px $color,
    0px 0px 5px $color,
    0px 0px 5px $color,
    0px 0px 5px $color,
    0px 0px 6px $color,
    0px 0px 6px $color,
    0px 0px 6px $color,
    0px 0px 7px $color,
    0px 0px 7px $color,
    0px 0px 7px $color,
    0px 0px 8px $color,
    0px 0px 8px $color,
    0px 0px 8px $color,
    0px 0px 9px $color,
    0px 0px 9px $color,
    0px 0px 9px $color,
    0px 0px 10px $color,
    0px 0px 10px $color,
    0px 0px 10px $color;
}


.specialHexesVP .austrian,.specialHexesVP .anglo{
  background:transparent;
  @include victoryPoints($austrianColor);
 }

.specialHexesVP .prussian{
  color:black;
  background:transparent;
  @include victoryPoints($prussianColor);


}

.specialHexesVP .british{
  color:black;
  background:transparent;
  @include victoryPoints($britishColor);


}

.specialHexesVP .russian{
  color:white;
  background:transparent;
  @include victoryPoints($russianColor);
}
.specialHexesVP .french{
  color:white;
  background:transparent;
  @include victoryPoints($frenchColor);
}

.specialHexesVP .beluchi{
  color:white;
  background:transparent;
  @include victoryPoints($beluchiWrapperColor);
}
.ruleComment{
  font-style:italic;
  margin-left:10px;
  color:#999;
}
#GR ol.ExclusiveRules{
  counter-reset: item 6;
}

.left{
  float:left;
  margin-right:15px;
}