body {
}
@mixin player($nationality, $player, $color,$counterColor: $color ,$faceColor: $color ){
  .player#{$player}{
    background:$color;
    border-color:$color !important;
  }
  .#{$nationality}Face, .player#{$player}Face{
    color:$faceColor;
  }
  .#{$nationality} .counterWrapper{
    background-color: $counterColor;
  }

}
$austrianColor: #df5842;
$austrianWrapperColor: white;

$prussianColor: #fffd7f;
$prussianWrapperColor: #0117de;

$angloAlliedColor: #df5842;
$angloAlliedWrapperColor: #f00;

$frenchColor: #84b5ff;
$frenchWrapperColor: white;
$frenchSaxonWrapperColor: #9f9f9f;

$russianColor: #4cb800;
$russianWrapperColor: #009c1d;

$beluchiColor: #c68100;
$beluchiWrapperColor: #865900;



#map{
  width:1000px !important;
}

.unit{
  border:solid black;
  border-width: 3px;
}

.unit .counterWrapper img.counter {
  width: 14px;
  height:14px;
  display:block;
  border-right:1px solid black;

}
.unit .counterWrapper{
  border:solid black 1px;
  height:14px;
}

.unit .unit-numbers .infoLen7{
  font-size:13px;
}

.unit .unit-numbers .infoLen8{
  font-size:12px;
}


.RussianaVP {
  color: rgb(132, 181, 255);
  background: transparent;
  opacity: 1.0;
}

.PrussianlVP {
  color: rgb(239, 115, 74);
  background: transparent;
}

.unit .unit-numbers{
  border: 1px solid black;
  border-top:1px;
  height:15px;
  line-height:16px;
  font-size:16px !important;
  letter-spacing:-1px;
  background: white;
  font-weight: bold;
  font-family: serif;
}
p.forceMarch {
  position: absolute;
  top: -19px;
  right: 2px;
  display: none;
  color: white;
  text-transform: lowercase;
}
p.forceMarch{
  color:black;
}

#OBC {
  background: white;
  width: 514px;
}

#TEC {
  background: white;
  width: 779px;
}

#crt {
  width: 476px;
}

.tableWrapper.alt {
  display: none;
}

.alt {
  display: none;
  width: 476px;
}

.Prussian div {
  color: black;
}

.russian div {
  color: black;
}

#clock {
  margin-left: 0;
}

.dropDownSelected {
  background: white;
  color: black;
}
#tecImage{
  width:500px;
}

#TEC{
  width:520px;
}

#TECWrapper .closer {
  height: 0px;
  padding: 0px;
}

#VCWrapper .closer {
  height: 0px;
  padding: 0px;
}


#GR {
  width: 600px;
}

.game-name {
  font-family: 'Berkshire Swash';
}

#altTable, #mainTable {
  position: absolute;
  right: 18px;
}
#crtDetailsButton{
  font-size:10px;
  cursor: pointer;
}
#crtDetails{
  display:none;
}
.specialHexes.russian{
  color:white;
}
#CombatLog{
  width:300px;
}

@mixin victoryPoints($color){
  text-shadow:
    0px 0px 1px $color,
    0px 0px 1px $color,
    0px 0px 1px $color,
    0px 0px 2px $color,
    0px 0px 2px $color,
    0px 0px 2px $color,
    0px 0px 3px $color,
    0px 0px 3px $color,
    0px 0px 3px $color,
    0px 0px 4px $color,
    0px 0px 4px $color,
    0px 0px 4px $color,
    0px 0px 5px $color,
    0px 0px 5px $color,
    0px 0px 5px $color,
    0px 0px 6px $color,
    0px 0px 6px $color,
    0px 0px 6px $color,
    0px 0px 7px $color,
    0px 0px 7px $color,
    0px 0px 7px $color,
    0px 0px 8px $color,
    0px 0px 8px $color,
    0px 0px 8px $color,
    0px 0px 9px $color,
    0px 0px 9px $color,
    0px 0px 9px $color,
    0px 0px 10px $color,
    0px 0px 10px $color,
    0px 0px 10px $color,

    0px 0px 1px $color,
    0px 0px 1px $color,
    0px 0px 1px $color,
    0px 0px 2px $color,
    0px 0px 2px $color,
    0px 0px 2px $color,
    0px 0px 3px $color,
    0px 0px 3px $color,
    0px 0px 3px $color,
    0px 0px 4px $color,
    0px 0px 4px $color,
    0px 0px 4px $color,
    0px 0px 5px $color,
    0px 0px 5px $color,
    0px 0px 5px $color,
    0px 0px 6px $color,
    0px 0px 6px $color,
    0px 0px 6px $color,
    0px 0px 7px $color,
    0px 0px 7px $color,
    0px 0px 7px $color,
    0px 0px 8px $color,
    0px 0px 8px $color,
    0px 0px 8px $color,
    0px 0px 9px $color,
    0px 0px 9px $color,
    0px 0px 9px $color,
    0px 0px 10px $color,
    0px 0px 10px $color,
    0px 0px 10px $color;
}


.specialHexesVP .austrian,.specialHexesVP .anglo{
  background:transparent;
  @include victoryPoints(rgb(223,88,66));
 }

.specialHexesVP .prussian{
  color:black;
  background:transparent;
  @include victoryPoints(yellow);


}

.specialHexesVP .russian{
  color:white;
  background:transparent;
  @include victoryPoints(rgb(148, 189, 74));
}
.specialHexesVP .french{
  color:white;
  background:transparent;
  @include victoryPoints(rgb(61,110,255));
}
