/*
Copyright 2012-2015 David Rodal

This program is free software; you can redistribute it
and/or modify it under the terms of the GNU General Public License
as published by the Free Software Foundation;
either version 2 of the License, or (at your option) any later version

This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
   */
#map{
}

$prussianNapColor: #003AF3;
$bavarianWrapperColor: #4287FA;
$bavarianColor: #FD0013;

@include player(Russian ,Two , $russianColor, $russianWrapperColor);
@include player(French, One, $frenchColor, #0003b4, $frenchColor);

.french.specialHexes{
  background-color: $frenchColor;
}

.anglo {
  background-color: $angloAlliedColor;
}
.french.specialHexes, .anglo.specialHexes{
  color:white;
}
.French, .AngloAllied, .Guard {
  p.forceMarch, p.range{
    color:white;
  }
}

@include badge(Bavarian, Bavarian);


.French.unit .unit-numbers, .Guard.unit .unit-numbers{
  color:red;
}

@include badge(French, FrenchNap);
@include badge(Guard, FrenchNap);
@include badge(Prussian, PruNap);
