/*
Copyright 2012-2015 David Rodal

This program is free software; you can redistribute it
and/or modify it under the terms of the GNU General Public License
as published by the Free Software Foundation;
either version 2 of the License, or (at your option) any later version

This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
   */
body {
}

@include player(Prussian, One, $prussianColor, $prussianWrapperColor, $prussianWrapperColor);
@include player(Russian, Two, $russianColor, $russianWrapperColor);
#map {
}

img.counter {
  width: 32px;
  height: 16px;
}

.unit .unit-numbers {
  background: white;
  font-weight: bold;
  font-family: serif;
}

.RussianaVP {
  color: rgb(132, 181, 255);
  background: transparent;
  opacity: 1.0;
}

.PrussianlVP {
  color: rgb(239, 115, 74);
  background: transparent;
}

p.forceMarch {
  position: absolute;
  top: -18px;
  right: 0px;
  display: none;
  color: white;
}
p.range{
  color:white;
}
#OBC {
  background: white;
  width: 514px;
}

#TEC {
  background: white;
  width: 779px;
}

#crt {
  width: 476px;
}

.tableWrapper.alt {
  display: none;
}

.alt {
  display: none;
  width: 476px;
}

.Prussian div {
  color: black;
}

.russian div {
  color: black;
}


#clock {
  margin-left: 0;
}

.dropDownSelected {
  background: white;
  color: black;
}




#TECWrapper .colOne {
  background-size: 400px;
  width: 220px;
  height: 60px;
  margin-left: 20px;
}

#TECWrapper .colTwo {
  width: 170px;
  padding-right: 10px;
}

#TECWrapper .colThree {
  width: 315px;
}

#TECWrapper .colOne span {
  margin-top: 12px;
  display: inline-block;
}

#TECWrapper .colTwo, #TECWrapper .colThree {
  margin-top: 12px;
}

#TECWrapper .colOne,
#TECWrapper .colTwo,
#TECWrapper .colThree {
  float: left;
}

.hexWrapper{
  height:100px;
  width:100px;
  background-size:650px;
  float:left;
}
#TECWrapper div {
  /*height:112px;*/
}

#TECWrapper li {
  list-style-type: none;
  padding: 0px 20px 5px 0px;
}

#TECWrapper img, #TECWrapper div {
}


#TECWrapper .colOne.riverHex .hexWrapper{
  background-image: url('<?=base_url()?>js/JagersdorfTerrainKey.jpg');
  background-position: -179px -308px;
}

#TECWrapper .colOne.blankHex .hexWrapper {
  background-image: url('<?=base_url()?>js/JagersdorfTerrainKey.jpg');
  background-position: -192px -181px;
  margin-bottom:15px;
}

#TECWrapper .colOne.forestHex .hexWrapper {
  background-image: url('<?=base_url()?>js/JagersdorfTerrainKey.jpg');
  background-position: -53px -187px;
}

#TECWrapper .colOne.townHex .hexWrapper{
  background-image: url('<?=base_url()?>js/JagersdorfTerrainKey.jpg');
  background-position: -61px -62px;
}

#TECWrapper .colOne.mountainHex .hexWrapper{
  background-image: url('<?=base_url()?>js/JagersdorfTerrainKey.jpg');
  background-position: -47px -281px;
}

#TECWrapper .colOne.roadHex .hexWrapper{
  background-image: url('<?=base_url()?>js/JagersdorfTerrainKey.jpg');
  background-position: -200px -65px;
}

#TECWrapper .colOne.bridgeHex .hexWrapper {
  background-image: url('<?=base_url()?>js/JagersdorfTerrainKey.jpg');
  background-position: -343px -64px;
}

#TECWrapper .colOne {
  background-size: 400px;
  width: 220px;
  height: 65px;
  margin-left: 20px;
}

#GR {
  width: 600px;
}

.game-name {
  font-family: 'Berkshire Swash';
}

#altTable, #mainTable {
  position: absolute;
  right: 18px;
  cursor:pointer;
}
