#map{
  width:1200px !important;
}
@include player(French, One, $frenchColor, $frenchWrapperColor);
@include player(AngloAllied, Two, $angloAlliedColor, $angloAlliedWrapperColor);

.anglo.specialHexes{
  background-color: $angloAlliedColor;
  color:white;
}

.french.specialHexes{
  background-color: $frenchColor;
  color:white;
}
