/*
Copyright 2012-2015 David Rodal

This program is free software; you can redistribute it
and/or modify it under the terms of the GNU General Public License
as published by the Free Software Foundation;
either version 2 of the License, or (at your option) any later version

This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
   */
#map{
}

$danishColor: #ff3f1f;
$danishWrapperColor: #bfbfbf;
@include player(Loyalist ,One , $angloAlliedColor, $angloAlliedWrapperColor);
@include player(Rebel, Two, $prussianColor, $prussianWrapperColor);
@include player(Militia, Three, $prussianColor, $prussianWrapperColor);
@include badge(Rebel, Pru);
@include badge(Militia, Pru);
@include player(Hessian, Three, $russianColor, $russianWrapperColor);
@include badge(Loyalist, Ang);
@include badge(Hessian, Rus);
.swedes.specialHexes{
  background-color: $swedishWrapperColor;
  color:white;
}


.Rebel {
  p.forceMarch, p.range{
    color:white;
  }
}

