/**
 *
 * Copyright 2012-2015 David Rodal
 * User: David Markarian Rodal
 * Date: 3/8/15
 * Time: 5:48 PM
 *
 *  This program is free software; you can redistribute it
 *  and/or modify it under the terms of the GNU General Public License
 *  as published by the Free Software Foundation;
 *  either version 2 of the License, or (at your option) any later version
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
$caprolians: #e8e22c;
$laconians: #dd4f2b;

@include player(laconians, One, $laconians);
@include player(caprolians, Two, $caprolians, #c8c21c);


.unit .counter {
  margin-top: -5px;
}

#crt {
  width: 308px;
}


#TEC {

  left: -230px;
}

#infoWrapper .WrapperLabel {
  width: auto;
}


.game-name {
  word-break: break-all;
  font-family: 'Nosifer';
}


/* RULES OVERRIDES */

.gameLength{
  color:transparent;
  font-size:0px;
  &::before{
    content:"15";
    color:rgb(51,51,51);
    color:$darkBlack;
    font-size:$stdFont;
  }
}