$caprolians: #e8e22c;
$laconians: #dd4f2b;

@include player(laconians, One, $laconians);
@include player(caprolians, Two, $caprolians, #c8c21c);


.unit .counter {
  margin-top: -5px;
}

#crt {
  width: 308px;
}


#TEC {

  left: -230px;
}

#infoWrapper .WrapperLabel {
  width: auto;
}


.game-name {
  word-break: break-all;
  font-family: 'Nosifer';
}


/* RULES OVERRIDES */

.gameLength{
  color:transparent;
  font-size:0px;
  &::before{
    content:"15";
    color:rgb(51,51,51);
    color:$darkBlack;
    font-size:$stdFont;
  }
}