$caprolians: #e8e22c;
$laconians: #dd4f2b;

@include player(laconians, One, $laconians);
@include player(caprolians, Two, $caprolians, #c8c21c);


.unit .counter {
  margin-top: -5px;
}

#crt {
  width: 308px;
}


#TEC {

  left: -230px;
}

#infoWrapper .WrapperLabel {
  width: auto;
}


.game-name {
  word-break: break-all;
  font-family: 'Nosifer';
}
