@import "airborneColors";

@include player(rebel, One, $rebelColor);
@include player(loyalist,Two,$loyalistColor);
@include player(loyalGuards,Three,$loyalistGuardColor);

#map {
}

#crt {
  width: 308px;
}

.reduced {
  color: white;
}

#infoWrapper .WrapperLabel {
  width: auto;
}

.game-name {
  word-break: break-all;
  font-family: 'Nosifer';
}

#gameTurn6 {
}

#gameTurn6 .unit {
  float: left;
}

.specialHexesVP .rebelVictoryPoints {
  @include victoryPoints(orange)
}

.specialHexesVP .loyalistVictoryPoints {
 @include victoryPoints(#666);
}


#TECWrapper #TEC {
  padding-bottom:15px;
  width:700px;
  ul {
    width: 600px;
    margin-left: 10px;
    li {
      clear:both;
      padding: 20px 5px 34px 0px;

      &.row-one .column-image {
        background-position: 0px 0px;
      }
      &.row-two .column-image {
        background-position: 0px -55px;
      }
      &.row-three .column-image {
        background-position: 0px -110px;
      }
      &.row-four .column-image {
        background-position: 0px -165px;
      }
      &.row-five .column-image {
        background-position: 0px -220px;
      }
      &.row-six .column-image {
        background-position: 0px -303px;
      }
      &.row-seven .column-image {
        background-position: 0px -412px;
      }
      &.row-eight .column-image {
        background-position: 0px -522px;
      }
      &.row-nine .column-image {
        background-position: 0px -605px;
      }
    }
    .column-image {
      float: left;
      width: 94px;
      height: 56px;
      background-image: url('<?=base_url()?>js/AirborneTEC.png');
      background-repeat: no-repeat;

    }
    .column-one {
      float: left;
      width: 24%;
      padding-right: 4%;
      padding-top: 10px;
    }
    .column-two {
      float: left;
      width: 24%;
      padding-right: 4%;
    }
    .column-three {
      float: left;
      width: 24%;
    }
  }
}