@import "../textShadow";
@import "../commonPlay";
h1{
  color:#f66;
  @include textShadow(white);
}
h2{
  text-align:center;
  font-size:38px;
  font-family:'Great Vibes';
  color:#f66;
  @include textShadow(white);
}

.link{
  font-size:40px;
  text-decoration: none;
  color:#f66;
  text-shadow: 3px 3px 3px black,3px 3px 3px black,3px 3px 3px black,3px 3px 3px black,3px 3px 3px black
}
legend   {
  color:white;
}
fieldset{
  background:rgba(0,0,0,.3);
  text-align:center;width:30%;
  margin:60px auto;
  border-radius:15px;
}