#map{
  width:1200px !important;
}
@include player(Prussian, One, $prussianColor,  $prussianWrapperColor, $prussianWrapperColor);
@include player(Austrian, Two, $austrianColor,  $austrianWrapperColor);

.austrian.specialHexes{
  background-color:$austrianColor;
  color:white;
}
.prussian.specialHexes{
  background-color: $prussianColor;
  color:black;
}