.loyalist {
  background-color:#aaa;
}

.rebel, .sympth {
  background-color: #5c5;
}


.unit .counter {
  margin-top: 1px;
}

.unit .unit-numbers {
  margin-top: -23px;
}


#map {
}

#OBC {
  background: white;
  width: 514px;
}

#crt {
  width: 308px;
}

.rebel div {
  color: black;
}

.sympth div {
  color: black;
}

.reduced {
  color: white;
}

#clock {
  margin-left: 0;
}

#infoWrapper .WrapperLabel {
  width: auto;
}

.game-name {
  word-break: break-all;
  font-family: 'Nosifer';
}

#gameTurn6 {
}

#gameTurn6 .unit {
  float: left;
}

.specialHexesVP .rebelVictoryPoints {
  @include victoryPoints(orange)
}

.specialHexesVP .loyalistVictoryPoints {
 @include victoryPoints(#666);
}

