@import "amphColors";



@include player(rebel, One, $rebelColor);
@include player(loyalist,Two,$loyalistColor);
@include player(loyalGuards,Three,$loyalistGuardColor);

#map {
}

#crt {
  width: 308px;
}

.reduced {
  color: white;
}

#TEC ul{
  width:600px;
.column-one{float:left;width:30%;padding-right:4%;}
  .column-two{float:left;width:30%;padding-right:4%;}
  .column-three{float:left;width:30%;}
}
#infoWrapper .WrapperLabel {
  width: auto;
}

.game-name {
  word-break: break-all;
  font-family: 'Nosifer';
}

#gameTurn6 {
}

#gameTurn6 .unit {
  float: left;
}

.specialHexesVP .rebelVictoryPoints {
  @include victoryPoints(orange)
}

.specialHexesVP .loyalistVictoryPoints {
 @include victoryPoints(#666);
}

.supply{
  font-size:25px !important;
  z-index:0;
  border-radius:0px;
  border:0px;
  transform: rotate(180deg);
}

#TEC{
  width:700px;
}
#TECWrapper li{
  clear:both;
  padding: 20px 5px 34px 0px;
}
