/* Unit Styles */
@mixin player($nationality, $player, $color, $faceColor: $color, $desigColor: white){
  .player#{$player}{
    background:$color;
    border-color:$color !important;
  }
  .#{$nationality}Face, .player#{$player}Face{
    color:$faceColor;
  }

  .#{$nationality} {
    background-color: $color;
    .unit-desig{
      color: $desigColor;
    }
  }

}

@include player(rebel, One, rgb(223, 88, 66));
@include player(loyalist, Two, rgb(132, 181, 255));


.rebel div {
  color: black;
}

.sympth div {
  color: black;
}

.game-name {
  word-break: break-all;
  font-family: 'Nosifer';
}

.reduced {
  color: white;
}

@import "tmcwUnits";
@import "tmcwBoxes";
@import "tmcwSpecialVP";




