
.unit .unitSize{
  height:10px;
  font-size:9px;
  text-align: center;
  color:black;
}



.unit .counterWrapper{
  height:10px;
}
.unit .counter{
  width:32px;
  margin-top:-4px;
}

.unit .unit-numbers{
  font-size:12px;
  font-weight:bold;

}
.unit .unit-numbers .infoLen45{
  font-size:11px;
  letter-spacing:-1px;
}
.unit .unit-numbers .infoLen5 {
  letter-spacing: -1px;
}
.unit .unit-numbers .infoLen7{
  font-size:13px;
  letter-spacing: -1px;
}

.unit .unit-numbers .infoLen8 {
  letter-spacing: -1px;
}
