$rebelVP: rgb(223,88,66);
$prcVP: rgb(255, 215, 0);
$loyalistVP: rgb(132,181,255);

@mixin victoryPoints($color){
    text-shadow:
      0px 0px 1px $color,
      0px 0px 1px $color,
      0px 0px 1px $color,
      0px 0px 2px $color,
      0px 0px 2px $color,
      0px 0px 2px $color,
      0px 0px 3px $color,
      0px 0px 3px $color,
      0px 0px 3px $color,
      0px 0px 4px $color,
      0px 0px 4px $color,
      0px 0px 4px $color,
      0px 0px 5px $color,
      0px 0px 5px $color,
      0px 0px 5px $color,
      0px 0px 6px $color,
      0px 0px 6px $color,
      0px 0px 6px $color,
      0px 0px 7px $color,
      0px 0px 7px $color,
      0px 0px 7px $color,
      0px 0px 8px $color,
      0px 0px 8px $color,
      0px 0px 8px $color,
      0px 0px 9px $color,
      0px 0px 9px $color,
      0px 0px 9px $color,
      0px 0px 10px $color,
      0px 0px 10px $color,
      0px 0px 10px $color,

      0px 0px 1px $color,
      0px 0px 1px $color,
      0px 0px 1px $color,
      0px 0px 2px $color,
      0px 0px 2px $color,
      0px 0px 2px $color,
      0px 0px 3px $color,
      0px 0px 3px $color,
      0px 0px 3px $color,
      0px 0px 4px $color,
      0px 0px 4px $color,
      0px 0px 4px $color,
      0px 0px 5px $color,
      0px 0px 5px $color,
      0px 0px 5px $color,
      0px 0px 6px $color,
      0px 0px 6px $color,
      0px 0px 6px $color,
      0px 0px 7px $color,
      0px 0px 7px $color,
      0px 0px 7px $color,
      0px 0px 8px $color,
      0px 0px 8px $color,
      0px 0px 8px $color,
      0px 0px 9px $color,
      0px 0px 9px $color,
      0px 0px 9px $color,
      0px 0px 10px $color,
      0px 0px 10px $color,
      0px 0px 10px $color;
}
.specialHexesVP .prcVictoryPoints{
 @include victoryPoints($prcVP);
}
.specialHexesVP .sovietVictoryPoints, .specialHexesVP .rebelVictoryPoints{
  @include victoryPoints($rebelVP);

}
.specialHexesVP .loyalistVictoryPoints{
 @include victoryPoints($loyalistVP);
}