@include player(japanese, One, orange);
@include player(soviet, Two, rgb(223,88,66));

.unit .counter {
  margin-top:1px;
}
.unit .unit-numbers{
  margin-top:-23px;
}
#map{
  width:1800px !important;
}

#crt{
  width:308px;
}

.reduced{
  color:white;
}
#infoWrapper .WrapperLabel{
  width:auto;
}

.game-name{
  word-break:break-all;
  font-family:'Nosifer';
}
#gameTurn6{
}
#gameTurn6 .unit{
  float:left;
}
.specialHexesVP .rebelVictoryPoints{
 @include victoryPoints(orange);
}

.specialHexesVP .loyalistVictoryPoints{
 @include victoryPoints(rgb(223,88,66));
}