/**
 *
 * Copyright 2012-2015 David Rodal
 * User: David Markarian Rodal
 * Date: 3/8/15
 * Time: 5:48 PM
 *
 *  This program is free software; you can redistribute it
 *  and/or modify it under the terms of the GNU General Public License
 *  as published by the Free Software Foundation;
 *  either version 2 of the License, or (at your option) any later version
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
@import "ClashOverCrudeColors";



@include player(us, One, $usColor, $usColor, black);
@include player(saudi,Two, $saudiColor);
@include player(iraqi,Three, $iraqiColor);
@include player(iranian,Four, $iranianColor);
@include player(kuwati,Five, $kuwatiColor);
@include player(quatar,Six, $quatarColor);
@include player(bahrain,Six, $bahrainColor);


@include player(loyalGuards,Three,$loyalistGuardColor);
@include player(eec, Four, $eecColor);
@include player(usn, Five, $navyColor);
@include player(israeli, Five, powderblue);

#map {
}

#crt {
  width: 520px;
  .crt-table-name{
    display:none;
  }
}

.reduced {
  color: white;
}

#TECWrapper #TEC {
  padding-bottom:15px;
  width:700px;
  ul {
    width: 600px;
    margin-left: 10px;
    li {
      clear:both;
      padding: 20px 5px 34px 0px;

      &.row-one .column-image {
        background-position: 0px 0px;
      }
      &.row-two .column-image {
        background-position: 0px -55px;
      }
      &.row-three .column-image {
        background-position: 0px -110px;
      }
      &.row-four .column-image {
        background-position: 0px -165px;
      }
      &.row-five .column-image {
        background-position: 0px -220px;
      }
      &.row-six .column-image {
        background-position: 0px -303px;
      }
      &.row-seven .column-image {
        background-position: 0px -385px;
      }
      &.row-eight .column-image {
        background-position: 0px -465px;
      }
      &.row-nine .column-image {
        background-position: 0px -550px;
      }
    }
    .column-image {
      float: left;
      width: 94px;
      height: 56px;
      background-image: url('<?=base_url()?>js/AmphTEC.png');
      background-repeat: no-repeat;

    }
    .column-one {
      float: left;
      width: 24%;
      padding-right: 4%;
      padding-top: 10px;
    }
    .column-two {
      float: left;
      width: 24%;
      padding-right: 4%;
    }
    .column-three {
      float: left;
      width: 24%;
    }
  }
}
#infoWrapper .WrapperLabel {
  width: auto;
}

.game-name {
  word-break: break-all;
  font-family: 'Nosifer';
}

#gameTurn6 {
}

#gameTurn6 .unit {
  float: left;
}

.specialHexesVP .rebelVictoryPoints {
  @include victoryPoints(orange)
}

.specialHexesVP .loyalistVictoryPoints {
 @include victoryPoints(#666);
}

.supply{
  font-size:25px !important;
  z-index:0;
  border-radius:0px;
  border:0px;
  transform: rotate(180deg);
}



.staging-area{
  height:100%;
  width:24%;
  background:#333;
  border: #999 solid;
  border-width: 0 0 0 3px;
  float:left;
  min-height:76px;
  .staging-area-label{
    font-size:20px;
    font-family:sans-serif;
    float:right;
    color:#aaa;
    height:38px;
  }
}

.unit {
  .counterWrapper {
    height: 18px;

    .air-strength{
      position:absolute;
      font-size:16px;
      color:black;
      font-weight: bold;
      font-family: sans-serif;
    }

    .counter {
      width: 52px;
      margin-top: -6px;
      margin-left: -10px;
    }
  }
  .unit-numbers{
    font-family: sans-serif;
    font-size:14px;
  }
}
.air.unit{
  .counterWrapper .counter{
  width: 18px;
  margin-top: 2px;
  margin-left: 7px;
}
  .unit-numbers{
    font-size:16px;
  }
}
.rebel .unit-desig{
  color:black;
}
.unit-desig {
  font-size: 10px;
  position: absolute;
  left: 21px;
  top: 1px;
  -webkit-transform: rotate(0deg);
  -webkit-transform-origin: center;
  width: 10px;
  text-align: center;
  color: black;
  right: -4px;
  word-break: break-all;
  overflow-wrap: break-word;
  line-height: 8px;
}
