/*
Error: Undefined variable: "$rebelColor".
        on line 28 of playMulti.scss

23: .Loyalist {
24:   color:darken($loyalistColor,20%);
25: }
26: 
27: .Rebel, .sympth {
28:   color: $rebelColor;
29: }

Backtrace:
playMulti.scss:28
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/script/tree/node.rb:50:in `perform'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:395:in `visit_prop'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `each'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:361:in `watch_or_update'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/exec/base.rb:52:in `parse'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/lib/sass/exec/base.rb:19:in `parse!'
/Users/david/.rvm/gems/ruby-2.2.0@global/gems/sass-3.4.19/bin/scss:13:in `<top (required)>'
/Users/david/.rvm/gems/ruby-2.2.0/bin/scss:23:in `load'
/Users/david/.rvm/gems/ruby-2.2.0/bin/scss:23:in `<main>'
/Users/david/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `eval'
/Users/david/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$rebelColor\".\A         on line 28 of playMulti.scss\A \A 23: .Loyalist {\A 24:   color:darken($loyalistColor,20%);\A 25: }\A 26: \A 27: .Rebel, .sympth {\A 28:   color: $rebelColor;\A 29: }"; }
