#map{
  width:1800px !important;
}
@include player(French, One, $frenchColor, $frenchWrapperColor);
@include player(Allied, Two, $angloAlliedColor, $angloAlliedWrapperColor);
.playerTwo #zoom span{
  /*border-color:white;*/
}


.french.specialHexes{
  background-color:$frenchColor;
  color:white;
}
.allied.specialHexes{
  background-color:$austrianColor;
  color:white;
}


