/*
Copyright 2012-2015 David Rodal

This program is free software; you can redistribute it
and/or modify it under the terms of the GNU General Public License
as published by the Free Software Foundation;
either version 2 of the License, or (at your option) any later version

This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
   */
#map{
}
@include player(French, One, $frenchColor, $frenchWrapperColor);
@include player(Allied, Two, $angloAlliedColor, $angloAlliedWrapperColor);
.playerTwo #zoom span{
  /*border-color:white;*/
}


.french.specialHexes{
  background-color:$frenchColor;
  color:white;
}
.allied.specialHexes{
  background-color:$austrianColor;
  color:white;
}


