/**
 *
 * Copyright 2012-2015 David Rodal
 *
 *  This program is free software; you can redistribute it
 *  and/or modify it under the terms of the GNU General Public License
 *  as published by the Free Software Foundation;
 *  either version 2 of the License, or (at your option) any later version
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
/* dropdown styles */
#OBC {
  background: white;
  width: 514px;
}

#crt {
  width: 308px;
}

#TEC {
  background: white;
  width: 579px;
}

#TECWrapper .closer {
  height: 0px;
  padding: 0px;
}

#TECWrapper .colOne.riverHex {
  background-image: url('<?=base_url()?>js/river.png');
  background-position: 0px -26px;
}

#TECWrapper .colOne.bridgeHex {
  background-image: url('<?=base_url()?>js/riverRoad.png');
  background-position: 0px -26px;
}

#TECWrapper .colOne.blankHex {
  background-image: url('<?=base_url()?>js/blank.png');
}

#TECWrapper .colOne.forestHex {
  background-image: url('<?=base_url()?>js/forest 2.png');
}

#TECWrapper .colOne.mountainHex {
  background-image: url('<?=base_url()?>js/mountain.png');
}

#TECWrapper .colOne.roadHex {
  background-image: url('<?=base_url()?>js/road.png');
  background-position: 0px -26px;
}

#TECWrapper .colOne.trailHex {
  background-image: url('<?=base_url()?>js/trail.png');
  background-position: 0px -26px;
  background-size: 516px;
  /* TODO why this different from others */
}

#TECWrapper .colOne {
  background-size: 400px;
  width: 220px;
  height: 56px;
  margin-left: 20px;
}

#TECWrapper .colTwo {
  width: 170px;
  padding-right: 10px;
}

#TECWrapper .colThree {
  width: 136px;
}

#TECWrapper .colOne span {
  margin-top: 12px;
  margin-left: 80px;
  display: inline-block;
}

#TECWrapper .colTwo, #TECWrapper .colThree {
  margin-top: 12px;
}

#TECWrapper .colOne,
#TECWrapper .colTwo,
#TECWrapper .colThree {
  float: left;
}

#TECWrapper li {
  list-style-type: none;
  padding: 5px 20px 5px 0px;
}

#TECWrapper img, #TECWrapper div {
}

#GR {
  width: 600px;
}
