/**
 *
 * Copyright 2012-2015 David Rodal
 *
 *  This program is free software; you can redistribute it
 *  and/or modify it under the terms of the GNU General Public License
 *  as published by the Free Software Foundation;
 *  either version 2 of the License, or (at your option) any later version
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.unit .unitSize{
  height:10px;
  font-size:9px;
  text-align: center;
  color:black;
}



.unit .counterWrapper{
  height:10px;
}
.unit .counter{
  width:32px;
  margin-top:-4px;
}

.unit .unit-numbers{
  font-size:12px;
  font-weight:bold;

}
.unit .unit-numbers .infoLen45{
  font-size:11px;
  letter-spacing:-1px;
}
.unit .unit-numbers .infoLen5 {
  letter-spacing: -1px;
}
.unit .unit-numbers .infoLen7{
  font-size:13px;
  letter-spacing: -1px;
}

.unit .unit-numbers .infoLen8 {
  letter-spacing: -1px;
}
