#map{
  width:1200px !important;
}

@include player(Austrian, One, $austrianColor,  $austrianWrapperColor);
@include player(Prussian, Two, $prussianColor,  $prussianWrapperColor, $prussianWrapperColor);

.austrian.specialHexes{
  background-color: $austrianColor;
  color:white;
}
.prussian.specialHexes{
  background-color: $prussianColor;
  color:black;
}