#map{
}

@include player(Austrian, Two, $austrianColor,  $austrianWrapperColor);
@include player(Prussian, One, $prussianColor,  $prussianWrapperColor, $prussianWrapperColor);

.austrian.specialHexes{
  background-color: $austrianColor;
  color:white;
}
.prussian.specialHexes{
  background-color: $prussianColor;
  color:black;
}